body, html {
    display: flex; /* Elementos lado a lado*/
    flex-direction: column; /* Elementos em coluna, um abaixo do outro */
    align-items: center; /* Depende do display: flex;*/
    justify-content: center;
    height: 100vh;
    background-color: #0a0a0a;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    animation: capa 2s ease-in-out infinite;
}

.descricao {
    width: 300px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: larger;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}

.progresso {
    width: 300px;
    height: 5px;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 5px;
    width: 0%;
    background-color: #0a0a0a;
}

.ponto {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    margin-top: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.botoes {
    margin-top: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botao_play, .botao_pause {
    font-size: 60px;
    cursor: pointer;
}

.botao_setas {
    font-size: 45px;
    cursor: pointer;
}

.botao_pause {
    display: none;
}

@keyframes capa {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
    }
}